
a {
  color: darkslateblue;
}

body {
  font-family: Palatino;
  background-color: #649173;
}

.box1 {
  float: right;
  box-sizing: border-box;
  width: 65%;
  padding: 15px;
  border: solid black;
  background-color: #795761;
  margin: 10px;
}

.box2 {
  box-sizing: border-box;
  padding: 15px;
  border: solid black;
  background-color: #795761;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  background-color: #649173;
  width: 500px;
}

.card-text li{
  margin-bottom: 5px;
}

.centered {
  text-align: center;
}

.exciting {
  background-color: rgb(37, 199, 202);
}

img {
  width: 25%;
  height: auto;
  padding: 5px;
}

img.tiny {
  width: 5%;
  height: auto;
}

.important {
  text-decoration: underline;
}

.jumbotron {
  text-align: center;
  background-color: #3f7a53;
}

.left {
  float: left;
}

.navigation p {
  margin: 0;
}

.popout {
  margin: 50px;
}

.right {
  float: right;
}

strong {
  text-transform: uppercase;
}